<header>
  <nav class="navbar navbar-expand-lg navigationt">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>    
    <div class="navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to 'ログイン', new_user_session_path, class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </nav>
</header>