<footer id='footer' class='footer-bottom'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-6 col-12'>
        <div class='copyright'>
          <p>利用規約</p>
          <p>プライバシーポリシー</p>
          <p>お問い合わせ</p>
        </div>
      </div>
    </div>
  </div>
</footer>