.imageContainer {
  position: relative;
  overflow: hidden;
}

.hoverEffect {
  transition: transform 0.3s ease-in-out;
  filter: contrast(.5);
}

.hoverShadowEffect {
  display: hidden
}

.imageReflection {
  transform: scaleY(-1);
  opacity: 0.5;
  margin-top: -10px; /* 画像と反転画像の間に少し余白を追加 */
}