<div style="display: flex; margin: 15px;">
  <h1>特集一覧</h1>
  <div class="btn btn-edit" style="margin-left: 20px"><%= link_to "特集作成", new_collection_path %></div>
</div>
<%= render "collections", collections: @collections %>