/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require movies
 *= require profiles
 */

body, html {
  margin: 0;
  padding: 0;
  background-color: black;
  color:aliceblue;
  padding-bottom: 50px;
}


.center-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.center-form .field,
.center-form .actions {
  width: 100%;
  max-width: 400px; /* フォームの最大幅を設定 */
}

.center-form .field label,
.center-form .field input,
.center-form .field em,
.center-form .actions input {
  color: white;
}

.center-form .field input,
.center-form .actions input {
  background-color: transparent;
  border: 1px solid white;
  padding: 8px;
  margin-bottom: 10px;
}

.center-form .actions input {
  cursor: pointer;
}

a:visited,
a:hover,
a:active {
  color: white;
}


.navbar {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(10, 1, 52);
}

.navbar-brand img {
  height: 40px;
}

.navbar-toggler {
  display: none;
  cursor: pointer;
}

.navbar-toggler-icon {
  width: 30px;
  height: 3px;
  background-color: #333;
  display: block;
  margin: 5px 0;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-item {
  margin-left: 1rem;
}

.nav-link {
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

footer {
  background-color: rgb(72,132,158);
}

a {
  color: #ded9d9e8; /* ここでリンクの色を設定します */
  text-decoration: none; /* 下線を取り除く場合 */
}

a:hover {
  color: #ded9d9e8;
}

a:active {
  color: #ded9d9e8;
}

a:focus {
  color: #ded9d9e8;
}

.btn {
  margin: 10px 10px;
}
