.movie-item {
    flex: 0 0 auto;
text-align: center;
}

.movie-container {
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(0, 2, 11);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-container h2 {
    text-align: center;
    color: #e9e4e4;
}

.poster-container {
    text-align: center;
    margin-bottom: 20px;
}

.poster-container img {
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.poster-container img:hover {
    transform: scale(1.05);
}

.overview-container {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.6;
    color: #e9e4e4;
}

.trailer-container {
    text-align: center;
    margin-bottom: 20px;
}

.runtime-container {
    text-align: left;
}

.runtime-container p {
    margin: 0;
    font-size: 20px;
    color: #e9e4e4;
}

.movies-index {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.movie-item {
    flex: 1 0 200px; /* アイテムの幅を200pxに設定します。必要に応じて調整してください */
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-container {
    margin-top: 25rem;
}

.movie-title {
    font-size: 1.5em; /* デフォルトのフォントサイズ */
    text-overflow: ellipsis;
    max-width: 100%;
}

@media (max-width: 768px) {
.movie-title {
    font-size: 1.5em; /* 画面が小さい場合のフォントサイズ */
}
}

.genre-item {
	display: inline-block;
	margin: 0 .1em .6em 0;
	padding: .6em;
	line-height: 1;
	color: #fff;
	text-decoration: none;
	background-color: rgb(32, 28, 71);
}

.show-movie-image{
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 80%;
    height: auto;
    margin: 5px 15px;
}