.profile-container {
  margin: 30px;
}

.profile-leftside {
  margin-top: 10px;
}

.favorites-section {
  margin-top: 5rem;
  font-size: 20px;
}

.btn-logout {
  background-color: #ff000090; /* ボタンの背景色を設定 */
  color: #ffffffd5; /* ボタンの文字色を設定 */
}

.btn-logout:hover {
  background-color: #cc0000; /* ホバー時の背景色を設定 */
}

.btn-edit {
  background-color: #599a84;
  color: #ffffffd5;
}

.btn-edit:hover {
  background-color: #6cb79e;
  color: #ffffffd5;
}

.movie-profile-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}

.new-collection-movie-item {
  flex: 0 0 auto;
  margin-right: 10px; /* 各画像間のスペースを確保 */
}

.link-container {
  margin-top: 2rem; /* 上部に2remのマージンを追加 */
  text-align: center; /* リンクを中央寄せ */
}

.link-container div {
  margin-bottom: 1rem; /* 各リンクの下に1remのマージンを追加 */
}